<!doctype html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is home page</title>
</head>
<body>
<section class="image1 d-flex justify-content-center align-items-center ">

<div class="text-center">
<h1 class="font-weight-bold">Contact Vault</h1>
<p>Start adding your personal and favorite contacts on the cloud, and experience the convenience of having your important connections at your fingertips, no matter where you are. Whether it's for personal use or professional networking, Contact Vault ensures that your valuable relationships are always organized, secure, and easily accessible. With just a few clicks, you can build and manage a comprehensive contact list that grows with you, giving you peace of mind and the freedom to focus on what truly matters.

	</p>

</div>
</section>
	
</body>
</html>
